.card-project {
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    height: 100%;

    &__body{
        padding-top: 10px;
    }

    &__img{
        width: 100%;
        max-height: 150px;
        object-fit: cover;
    }

    &__title{
        color: $color-secondary;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    &__text{
        color: $text-color;
        font-size: 1rem;
        margin-bottom: 0;
    }
}

ul.project-list{
    display: flex;
    padding-left: 0;
}

li.project-list__item{
    padding: 10px;

    &:first-child{
        padding-left: 0;
    }

    &:last-child{
        padding-right: 0;
    }
}

.card-project-one{


}
