.contact-header{
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-secondary;
}

.contact-icon{
    font-size: 2rem;
    color: $color-secondary;
    margin-right: 10px;
}

.contact-row{
    display: flex;
}
