body{
  padding-top: 56px;
  background-color: $bg-color;
  font-family: $mainFont;
}

a {
  text-decoration: none;
}

.logo{
  display: inline-block;
  width: 128px;
  height: 31px;
  vertical-align: middle;
}

.header{
  background-color: $color-secondary;
}

.dropdown-menu{
  background-color: $color-secondary;
}

.header .logo{
  fill: white;
}

.nav-link, .dropdown-item{
  color: white;
}

.button-hamburger{
  width: 19px;
  height: 19px;
  display: block;
  margin-top: 5px;
  & span {
    width: 100%;
    display: block;
    height: 3px;
    margin: 3px 0;
    background-color: #FFF;
  }
}

.align-right{
  margin-left: auto;
}

.promo-baner{
  height: 24rem;
  overflow: hidden;
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.quick-start{
  width: 100%;
  padding: 40px 50px;
  background-color: $color-secondary;
  background-image: url(../icons/house.svg);
  background-position: right 0 top 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-top-right-radius: 4px;
  &__title{
    font-size: 46px;
    font-weight: bold;
    color: white;
  }
  &__text{
    margin-bottom: 30px;
    text-shadow:  1px 1px 2px $color-secondary,
                  1px 0 2px $color-secondary,
                  0 1px 2px $color-secondary,
                  -1px -1px 2px $color-secondary;

    & > span{
      font-size: 16px;
      color: white;
      white-space: nowrap;
    }
  }
  .input-group > &__input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 3;
    padding: .5rem 1rem;
    font-family: $mainFont;
    font-size: 1.15rem;
    outline: none;
    border: none;
    &::placeholder{
      color: $text-color_2;
    }
  }
  &__btn{
    font-size: 24px;
    font-weight: 700;
    height: auto;
    line-height: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 16px 30px 17px;
    background-color: $color-primary;
    color: white;
  }
  &__example{
    color: white;
    font-size: 13px;
    margin-top:10px;
    & a{
      color: $text-color_2;
      &:hover{
        color: $color-primary;
      }
    }
  }
}

@media (max-width: 991px){
  .quick-start{background-image: none;}
}

.dot_divided > *:not(:first-child) {
  position: relative;
  margin-left: 35px;
  &:before {
    content: '';
    display: block;
    background-color: #aaa;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 44%;
    left: -20px;
  }
}

.tizer{
  width: 100%;
  padding-top: 10px;
  position: relative;
  background-color: white;
  & svg{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display: inline-block;
    & + div{
      display: inline-block;
    }
  }

  & .row{
    padding: 0 30px 20px 0;
    transition: all 0.3s
  }
  & .row > [class^="col"] {
    padding: 20px 0 0 30px;
    & > *{
      vertical-align: top;
    }
  }

  &__title{
    font-size: 20px;
  }

  & p{
    font-size: 16px;
    display: block;
    line-height: 1.2;
    margin-top: 5px;
    white-space: nowrap;
    letter-spacing: -.5px;
  }

  & > .row > [class^="col"]{
    & .num{
      background-color: $color-secondary;
      border-radius: 50%;
      color: white;
      font-size: 12px;
      font-weight: 700;
      width: 25px;
      height: 25px;
      display: inline-block;
      padding: 6px 0 6px 9px;
      margin-right: 10px;
      position: relative;
      top: -2px;
    }

    &:first-child:before{
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 10px 15px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      top: -10px;
      left: 50px;
    }

    &:first-child .num{
      background-color: $color-primary;
    }
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down{display: none !important;}
}

.h2{
  font-size: 28px;
  font-weight: bold;
}

.section{
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  &__link{
    font-size: 16px;
    font-weight: 700;
    color: $color-secondary;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: end;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover{
      color: $color-primary;
    }
  }
}

.margin {
  margin-top: auto;
  margin-bottom: auto;
}

.accent_color{
  color: $color-accent;
}

.card-company{
  padding: 0;
  background-color: white;
  position: relative;
  min-width: 200px;

  &__section{
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    background-color: $color-primary;
    color: white;
    width: 100%;
    height: 30px;
  }

  &__body{
    flex: 1 1 auto;
    padding: 1rem 1rem 2rem;
  }

  &__name{
    color: $color-secondary;
    font-size: 18px;
    font-weight: 700;
  }

  &__text{
    color: $text-color;
    font-size: 16px;
  }

  &:hover{
    box-shadow: 0 0 20px lighten($text-color, 50%);
    z-index: 100;
  }

  & > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__info{
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.counter{
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;


  &__order{
    color: $color-primary;
  }

  &__message{
    color: $color-secondary;
  }

  & > a {
    text-decoration: none;
  }

  & > a span{
    margin-left: 10px;

    &:hover{
      color: $color-accent;
    }
  }
}

.card-project{
  padding: 0;
  background-color: white;
  min-width: 200px;
  min-height: 100px;
  position: relative;

  &__name{
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    background-color: $color-primary;
    color: white;

    height: 30px;
    position: absolute;
    left: 0;
    bottom: 10px;
  }

  & > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.footer{
  background-color: lighten($text-color, 70%);

  & .row > [class^="col"] {
    padding: 20px 0 0 30px;
  }

  & .header {
    background-color: lighten($text-color, 70%);
    height: 31px;
    margin-bottom: 30px;
  }

  & .social-list {
    height: 52px;
    vertical-align: top;
    white-space: nowrap;
    padding-left: 0;
    padding-bottom: 0;

    & a .icon-fb {
      font-size: 20px;
      position: relative;
      top: -1px;
    }

    & a .icon-vk {
      font-size: 11px;
    }

    & a .icon-tw {
      font-size: 11px;
    }

    & a .icon-instagram {
      font-size: 18px;
    }

    & a .icon-you-tube {
      font-size: 20px;
    }

    & li {
      display: inline-block;
      vertical-align: top;
      margin-right: 6px;
    }

    & a{
      display: block;
      vertical-align: top;
      width: 43px;
      height: 43px;
      border: 1px solid $color-secondary;
      border-radius: 50%;
      text-align: center;
      color: $color-secondary;

      &:hover{
        background-color: $color-secondary;
        color: white;
        border-color: $color-secondary;
        text-decoration: none;
      }

      & i {
        line-height: 43px;
      }
    }
  }

  & .logo{
    display: inline-block;
    width: 128px;
    height: 31px;
    vertical-align: middle;
    fill: $color-secondary;
  }

  & .links .h3 {
    display: block;
  }

  & .links a {
    display: block;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    color: $color-secondary;
    text-decoration: none;

    & > [class^="icon-"] {
      margin-bottom: -2px;
      margin-right: 10px;
    }

    &:hover {
      color: $color-primary;
      text-decoration: none;
      cursor: pointer;
    }
  }

  & .links a + a {
    margin-top: 10px;
  }

  & .h3 {
    font-size: 24px;
    color: $text-color;
    font-weight: 700;
    line-height: 1;
    padding: 0;
  }

}

.small {
  font-size: 80%;
}




/*------ icomoon ------*/
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-you-tube:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-tw:before {
  content: "\e905";
}

.icon-vk:before {
  content: "\e906";
}

.icon-fb:before {
  content: "\e900";
}

.icon-message:before {
  content: "\e902";
}

/*-------------------------------*/
